<section class="section" style="height: auto; margin-bottom: 0;">
  <div class="row">
    <div class="col-sm-6">
      <div class="card border-none">
        <div class="card-body">
          <h3>EXPERTS YOU CAN COUNT ON</h3>
          <div style="margin: 0 0 1rem;">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-6">
          <div class="card border-none">
            <div class="card-body">
              <h6>Quick Link</h6>
              <div style="margin: 0 0 1rem;">
                Projects <br/>
                Privacy +1 416-271-7898<br/>
                Terms & Conditions
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card border-none">
            <div class="card-body">
              <h6>Contact Us</h6>
              <div style="margin: 0 0 1rem;">
                Projects<br/>
                Privacy +1 416-271-7898<br/>
                Terms & Conditions
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
