<ngb-carousel *ngIf="images" [interval]="2000" style="display: block; width: 75%; margin: 0 auto;">
  <ng-template ngbSlide *ngFor="let img of images; let i =index">
    <div class="picsum-img-wrapper">
      <img [src]="img" alt="Random first slide">
    </div>
    <!-- <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div> -->
  </ng-template>
</ngb-carousel>

<div class="project_container m-tb-20" *ngIf="showProjectDetails">
  <div class="row p-3">
    <div class="col-sm-8">
      <div class="row">
        <div class="col m-b-10">
          <h4>{{ selectedProject.Project_Name }}</h4>
          <p>
            {{ selectedProject.Project_Description }}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" style="line-height: 1.2rem;">
          <h6>Location</h6>
          <p>{{selectedProject.City}}, {{selectedProject.Region}}</p>
        </div>
        <div class="col-sm-6" style="line-height: 1.2rem;">
          <h6>Beds</h6>
          <p *ngIf="selectedProject.Beds.split('|').length == 1">{{selectedProject.Beds}}</p>
          <p *ngIf="selectedProject.Beds.split('|').length > 1">{{selectedProject.Beds.split("|")[0]}} - {{selectedProject.Beds.split("|")[selectedProject.Beds.split("|").length - 1]}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col m-b-10">
          <h6>Starting Price</h6>
          <p>CAD ${{ selectedProject.Starting_Price }}</p>
        </div>
        <div class="col-sm-6" style="line-height: 1.2rem;">
          <h6>Baths</h6>
          <p *ngIf="selectedProject.Baths.split('|').length == 1">{{selectedProject.Baths}}</p>
          <p *ngIf="selectedProject.Baths.split('|').length > 1">{{selectedProject.Baths.split("|")[0]}} - {{selectedProject.Baths.split("|")[selectedProject.Baths.split("|").length - 1]}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col m-b-10">
          <h6>Type</h6>
          <p>{{selectedProject.Type}}</p>
        </div>
        <div class="col-sm-6" style="line-height: 1.2rem;">
          <h6>Area</h6>
          <p *ngIf="selectedProject.Area.split('|').length == 1">{{selectedProject.Area}}</p>
          <p *ngIf="selectedProject.Area.split('|').length > 1">{{selectedProject.Area.split("|")[0]}} - {{selectedProject.Area.split("|")[selectedProject.Area.split("|").length - 1]}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6" style="line-height: 1.2rem;">
          <h6 style="float: left;padding-top: 0.6rem;">Style</h6>
          <span style="padding-left:1rem;"> <img src="/assets/images/{{selectedProject.Style}}.png" style="width:25px; height:30px;"/> </span>
        </div>
        <div class="col-sm-6" style="line-height: 1.2rem;">
          <h6 style="float: left;padding-top: 0.6rem;">Occupancy Date</h6>
          <!-- <span style="padding-left:1rem; padding-top: 8px;">{{selectedProject.Occupancy_Date}}</span> -->
          <span style="float: left; padding: 1rem; padding-top: .6rem;">{{selectedProject.Occupancy_Date}}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="m-tb-20">
        <img
          src="{{mainImage}}"
          alt="Project Image"
        />
      </div>
      <div class="m-tb-20" style="float: right">
        <button (click)="onContactUs()">Contact Us</button>
      </div>
    </div>
  </div>
  <div class="row p-3">
    <precon-leaflet-map
      id="leafletId"
      [stations]="selectedProjectStation"
    ></precon-leaflet-map>
    <div style="margin: 2rem auto">
      <div
        class="container"
        fxLayout="column wrap"
        fxLayout.xs="column"
        fxLayoutGap="2%"
        fxLayoutAlign="left"
      >
        <div
          fxFlex="50%"
          *ngFor="let itemFiltered of amnitiesList"
          style="padding-bottom: 5%"
        >
          <div style="display: flex">
            <div
              class="sub-header"
              style="width: 5rem; float: left; padding-right: 10px"
            >
              <div>
                <img
                  class="img"
                  src="{{ itemFiltered.imageUrl }}"
                  style="border-radius: 50%; margin-bottom: 0px"
                />
              </div>
            </div>
            <div class="description">
              <div class="m-b-10">
                <h6>Location</h6>
                <p>{{ itemFiltered.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div style="margin-top: 2rem">
      <div style="margin: 2rem">
        <h6>Amenities</h6>
      </div>
      <div
        class="container"
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayoutGap="2%"
        fxLayoutAlign="left"
      >
        <div
          fxFlex="30%"
          *ngFor="let itemFiltered of amnitiesList"
          style="padding-bottom: 3%"
        >
          <div>
            <div class="sub-header" style="width: 5rem">
              <div>
                <img
                  class="img"
                  src="{{ itemFiltered.imageUrl }}"
                  style="border-radius: 50%; margin-bottom: 0px"
                />
              </div>
            </div>
            <div class="description">{{ itemFiltered.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
