<div>
  <div class="m-tb-20">
    <div class="row">
      <div class="col-sm-12">
        <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg" style="width:100%"/>
        <span class="image-text-top-left">
          THE BEST <br>
          OPPORTUNITIES<br>
          MAKES BETTER<br>
          DECISIONS<br>
        </span>
        <span class="image-text-bottom-right">
          Lorem ipsum dolor sit amet, Lorem ipsum<br>
          dolor sit amet, Lorem ipsum dolor sit<br>
          amet, Lorem ipsum dolor sit amet.<br>
        </span>
      </div>
    </div>
  </div>
</div>

<div  *ngIf="!showProjectDetails"> 
  <div class="project_container m-tb-20" *ngFor="let project of listOfProjects">
    <div class="row p-3">
      <div class="col-sm-8">
        <div class="row">
          <div class="col m-b-10">
            <h4>{{project.Project_Name}}</h4>
            <p>
              Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
              dolor sit amet, Lorem ipsum dolor sit amet.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col m-b-10">
            <h6>Location</h6>
            <p>{{project.City}} {{project.Province}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col m-b-10">
            <h6>Starting Price</h6>
            <p>CAD ${{project.Starting_Price}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col m-b-10">
            <h6>Type</h6>
            <p>Lorem ipsum dolor sit ame</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <h6 style="float: left">Style</h6>
            <span style="float: right"> {{project.Style}} </span>
          </div>
          <div class="col-sm-6">
            <h6 style="float: left">Developer</h6>
            <span style="float: right">{{project.Developer}}</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="m-tb-20">
          <img
            src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg"
            alt="Project Image"
          />
        </div>
        <div class="m-tb-20" style="float: right">
          <button (click)="onShowProjectDetails(project)">Click Here</button>
        </div>
      </div>
    </div>
    
  </div>
</div>
<div class="project_container m-tb-20" *ngIf="showProjectDetails">
  <div class="row p-3">
    <div class="col-sm-8">
      <div class="row">
        <div class="col m-b-10">
          <h4>{{selectedProject.Project_Name}}</h4>
          <p>
            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
            dolor sit amet, Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col m-b-10">
          <h6>Location</h6>
          <p>Lorem ipsum dolor sit ame</p>
        </div>
      </div>
      <div class="row">
        <div class="col m-b-10">
          <h6>Starting Price</h6>
          <p>CAD ${{selectedProject.Starting_Price}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col m-b-10">
          <h6>Type</h6>
          <p>Lorem ipsum dolor sit ame</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h6 style="float: left">Style</h6>
          <span style="float: right"> Lorem ipsum dolor sit ame </span>
        </div>
        <div class="col-sm-6">
          <h6 style="float: left">Developer</h6>
          <span style="float: right">Lorem ipsum dolor sit ame</span>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="m-tb-20">
        <img
          src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg"
          alt="Project Image"
        />
      </div>
      <div class="m-tb-20" style="float: right">
        <button>Click Here</button>
      </div>
    </div>
  </div>
  <div class="row p-3">
    <precon-leaflet-map id="leafletId" [stations]="selectedProjectStation"></precon-leaflet-map>
    <div style="margin:2rem auto">
      <div class="container" fxLayout="column wrap" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign="left">
        <div fxFlex="50%" *ngFor="let itemFiltered of amnitiesList" style="padding-bottom: 5%">
          <div style="display: flex;">
            <div class="sub-header" style="width: 5rem; float: left; padding-right: 10px">
              <div>
                <img class="img" src="{{itemFiltered.imageUrl}}" 
                style="border-radius: 50%;margin-bottom: 0px;">
              </div>
            </div>
            <div class="description"><div class="m-b-10"><h6>Location</h6><p>{{ itemFiltered.description }}</p></div></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div style="margin-top:2rem">
      <div style="margin:2rem">
        <h6>Aminities</h6>
      </div>
      <div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign="left">
        <div fxFlex="30%" *ngFor="let itemFiltered of amnitiesList" style="padding-bottom: 3%">
          <div>
            <div class="sub-header" style="width: 5rem;">
              <div>
                <img class="img" src="{{itemFiltered.imageUrl}}" 
                style="border-radius: 50%;margin-bottom: 0px;">
              </div>
            </div>
            <div class="description">{{ itemFiltered.description }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




