<div>
  <div class="m-tb-20">
    <div class="row">
      <div class="col-sm-12">
        <img src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/LTLE4QGRVQ.jpg" style="width:100%"/>
        <span class="image-text-top-left">
          THE BEST <br>
          OPPORTUNITIES<br>
          MAKES BETTER<br>
          DECISIONS<br>
        </span>
        <span class="image-text-bottom-right">
          Lorem ipsum dolor sit amet, Lorem ipsum<br>
          dolor sit amet, Lorem ipsum dolor sit<br>
          amet, Lorem ipsum dolor sit amet.<br>
        </span>
      </div>
    </div>
  </div>
</div>

<div  *ngIf="!showProjectDetails"> 
  <div id="outer">
    <div class="inner" [ngClass]="{'active': sortByValue == 0}" (click)="onSortBy(0)">
      <strong class="sort_label">LOCATION</strong>
      <i *ngIf="sortByValue != 0" class="bi bi-arrow-down-up"></i>
      <i *ngIf="sortByValue == 0 && sortByValueCounter == 1" class="bi bi-arrow-up"></i>
      <i *ngIf="sortByValue == 0 && sortByValueCounter == 2" class="bi bi-arrow-down"></i>
    </div>
    <div class="inner" [ngClass]="{'active': sortByValue == 1}" (click)="onSortBy(1)">
      <strong class="sort_label">PRICE</strong>
      <i *ngIf="sortByValue != 1" class="bi bi-arrow-down-up"></i>
      <i *ngIf="sortByValue == 1 && sortByValueCounter == 1" class="bi bi-arrow-up"></i>
      <i *ngIf="sortByValue == 1 && sortByValueCounter == 2" class="bi bi-arrow-down"></i>
    </div>
    <div class="inner" [ngClass]="{'active': sortByValue == 2}" (click)="onSortBy(2)">
      <strong class="sort_label">STYLE</strong>
      <i *ngIf="sortByValue != 2" class="bi bi-arrow-down-up"></i>
      <i *ngIf="sortByValue == 2 && sortByValueCounter == 1" class="bi bi-arrow-up"></i>
      <i *ngIf="sortByValue == 2 && sortByValueCounter == 2" class="bi bi-arrow-down"></i>
    </div>
    <!-- <div class="inner" [ngClass]="{'active': sortByValue == 3}" (click)="onSortBy(3)"><strong class="sort_label">ROI/TIME</strong></div> -->
  </div>
  <div class="project_container m-tb-20" *ngFor="let project of filteredListOfProjects">
    <div class="row p-3">
      <div class="col-sm-8">
        <div class="row">
          <div class="col m-b-10">
            <h4>{{project.Project_Name}}</h4>
            <p>
              Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum
              dolor sit amet, Lorem ipsum dolor sit amet.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col m-b-10">
            <h6>Location</h6>
            <p>{{project.City}}, {{project.Region}}</p>
          </div>
          <div class="col m-b-10">
            <h6>Beds</h6>
            <p *ngIf="project.Beds.split('|').length == 1">{{project.Beds}}</p>
            <p *ngIf="project.Beds.split('|').length > 1">{{project.Beds.split("|")[0]}} - {{project.Beds.split("|")[project.Beds.split("|").length - 1]}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col m-b-10">
            <h6>Starting Price</h6>
            <p>CAD ${{project.Starting_Price}}</p>
          </div>
          <div class="col m-b-10">
            <h6>Baths</h6>
            <p *ngIf="project.Baths.split('|').length == 1">{{project.Baths}}</p>
            <p *ngIf="project.Baths.split('|').length > 1">{{project.Baths.split("|")[0]}} - {{project.Baths.split("|")[project.Baths.split("|").length - 1]}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col m-b-10">
            <h6>Type</h6>
            <p>{{project.Type}}</p>
          </div>
          <div class="col m-b-10">
            <h6>Area</h6>
            <p *ngIf="project.Area.split('|').length == 1">{{project.Area}}</p>
            <p *ngIf="project.Area.split('|').length > 1">{{project.Area.split("|")[0]}} - {{project.Area.split("|")[project.Area.split("|").length - 1]}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6" style="padding-top: 7px;">
            <h6 style="float: left; padding-top: 10px;">Style</h6>
            <!-- <span style="float: right;"> {{project.Style}} </span> -->
            <span style="float: left; padding: 0 20px;"> <img src="/assets/images/{{project.Style}}.png" style="width:25px; height:30px;"/> </span>
          </div>
          <div class="col-sm-6" style="padding-top: 7px;">
            <h6 style="float: left; padding-top: 10px;">Occupancy Date</h6>
            <span style="float: left; padding: 20px; padding-top: 8px;">{{project.Occupancy_Date}}</span>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="m-tb-20">
          <img
            src="https://d2lm6fxwu08ot6.cloudfront.net/img-thumbs/960w/8V46UZCS0V.jpg"
            alt="Project Image"
          />
        </div>
        <div class="m-tb-20" style="float: right">
          <button (click)="onShowProjectDetails(project)">Click Here</button>
        </div>
      </div>
    </div>
    
  </div>
</div>




