@import '~@angular/material/theming';

.img {
    width: 100%;
    margin-bottom: 10%;
}
.container {
    // min-height: 10%;
    // max-height: 20%;
    max-height: 250px;
    width: 100%;
    overflow-y:scroll;
}

.clickable {
  cursor: pointer;
  &:hover {
    @include mat-elevation(8);
  }
}
