<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="left">
    <div fxFlex="30%" *ngFor="let item of response">
        <div *ngIf="showCities">
            <mat-card (click)="onCardClick($event)" matRipple class="clickable">{{ item }}</mat-card>
        </div>
        <div *ngIf="showImages"><img class="img" [src]="item"></div>
    </div>
</div>
<div class="container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5%" fxLayoutAlign="left">
    <div fxFlex="30%" *ngFor="let itemFiltered of filteredImages">
        <div *ngIf="showImagesFiltered"><img class="img" [src]="itemFiltered"></div>
    </div>
</div>
