<div class="search-wrapper">
  <mat-grid-list cols="4" rowHeight="50px">
    <!-- <form class="example-form"> -->
    <!-- <mat-form-field class="example-full-width"> -->
    <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="lightblue">
      <span matPrefix> </span>
      <input
        #input
        style="
          width: 100%;
          background: #74b0ff;
          border: none;
          border-bottom: 1px solid;
          font-weight: 500;
          color: #0455bf;
          text-align: left;
          height: 50%;
          padding: 2px 5px;
          text-transform: uppercase;
        "
        type="tel"
        matInput
        placeholder="City Browser"
        autocomplete="false"
        name="search"
        [(ngModel)]="search"
        (focus)="onFocus()"
        (blur)="onBlur()"
      />
      <!-- <button matSuffix mat-button>Filter</button> -->
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="lightblue">
      <span matPrefix> </span>
      <!-- <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search"> -->
      <button
        style="
          width: 100%;
          background: #bf5e04;
          color: white;
          box-shadow: none;
          text-transform: uppercase;
        "
        matSuffix
        mat-button
        (click)="onFilterClick()"
      >
        Filter
      </button>
    </mat-grid-tile>
    <!-- </mat-form-field> -->
    <!-- </form> -->
  </mat-grid-list>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [colspan]="3" [rowspan]="1" [style.background]="lightblue">
      <div class="container filterOption" fxLayout="row wrap" fxLayout.xs="column" *ngIf="showCities">
        <div
          fxFlex="25%"
          *ngFor="let city of cityList; let i = index"
        >
          <div>
            <mat-card matRipple class="clickable" [ngClass]="{'selected': selectedCityIndex == i}" (click)="onCitySelected(city, i)">{{ city }}</mat-card>
          </div>
        </div>
        
      </div>
      
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="4" [style.background]="lightblue" *ngIf="showFilter">
      <div
        fxLayout="row wrap"
        fxLayout.xs="column"
        style="border: 1px solid"
        class="filterOption"
      >
        <div fxFlex="100%">
          <mat-form-field>
            <mat-label>Regions</mat-label>
            <mat-select [(ngModel)]="regions" multiple>
              <mat-option
                *ngFor="let regions of regionsList"
                [value]="regions"
                >{{ regions }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100%">
          <mat-form-field>
            <mat-label>Type</mat-label>
            <mat-select [(ngModel)]="type" multiple>
              <mat-option *ngFor="let type of typeList" [value]="type">{{
                type
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100%">
          <mat-form-field>
            <mat-label>Beds</mat-label>
            <mat-select [(ngModel)]="beds" multiple>
              <mat-option *ngFor="let beds of bedsList" [value]="beds">{{
                beds
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100%">
          <mat-form-field>
            <mat-label>Baths</mat-label>
            <mat-select [(ngModel)]="baths" multiple>
              <mat-option *ngFor="let baths of bathsList" [value]="baths">{{
                baths
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="100%">
          <button
            (click)="findProperty()"
            style="width: 80%; margin-bottom: 15px"
            matSuffix
            mat-button
          >
            Find Property
          </button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="imageBorder" [colspan]="3" [rowspan]="3" [style.background]="lightblue" *ngIf="showImages">
      <div class="container filterOption">
        <div fxLayout="row wrap" fxLayout.xs="column">
          <div fxFlex="30%" *ngFor="let imgSrc of selectedProjectImages; let i = index" style="padding-left: 10px;">
            <div style="cursor: pointer" (click)="onSelectedProjectImageClick(i)">
              <img class="img" [src]="imgSrc" alt="ProjectImage" />
            </div>
          </div>
        </div>
      </div>
      
      <!-- <mat-card matRipple class="clickable">dfdfd</mat-card> -->
    </mat-grid-tile>
  </mat-grid-list>
</div>
