@import '../../../variables.scss';

.example-form {
  // min-width: 150px;
  // max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.mat-black {
  background-color: black;
  color: #fff;
  height: 30px;
  text-align: center;
}

label {
  background-color: $button-color;
  color: white;
  padding: 5px;
  display:inline-block;
  vertical-align:top;
  width: 20%;
  text-align: center;
  align-items: center;
  text-transform: uppercase;
}

.button {
  width: 50%;
  text-align: left;
  align-items: center;
  background-color: $vlight-blue;
  color: $dark-blue;
  text-transform: uppercase;
}
