<section class="section">
  <h6>PRE-CONSTRUCTION <span>WITH...</span></h6>
  <h2>NEEL SURENDRAN & THE TEAM</h2>
  <div class="row h-100">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <div>
            <button>Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 h-100">
      <div
        class="container"
        fxLayout="row wrap"
        fxLayout.xs="column"
        fxLayoutGap="0.5%"
        fxLayoutAlign="left"
      >
        <div fxFlex="30%" *ngFor="let itemFiltered of imagesList">
          <div>
            <img class="img" [src]="itemFiltered" />
          </div>
        </div>
      </div>
      <!-- <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <div class="empty-box"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <div class="empty-box"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <div class="empty-box"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <div class="empty-box"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <div class="empty-box"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <div class="empty-box"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <div class="empty-box"></div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <div class="card-body">
                <div class="empty-box"></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>
<section class="section">
  <h1>PREFERRED LOCATION</h1>
  <precon-search class="precon-search"></precon-search>
  <h2 class="center-text">Reasons WHY CANADA</h2>
  <div>
    <div
      class="container"
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutGap="2%"
      fxLayoutAlign="left"
    >
      <div
        fxFlex="30%"
        *ngFor="let itemFiltered of reasonsList"
        style="padding-bottom: 2%"
      >
        <div>
          <div class="sub-header">{{ itemFiltered.header }}</div>
          <div class="description">{{ itemFiltered.description }}</div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section"><h1>PREFERRED LIFESTYLE</h1></section>
<section class="section"><h1>PREFERRED ROI</h1></section>
<section class="section">
  <h1>FEATURED</h1>
  <div
    class="container"
    fxLayout="row wrap"
    fxLayout.xs="column"
    fxLayoutGap="0.5%"
    fxLayoutAlign="left"
    style="max-height: 500px !important"
  >
    <div fxFlex="30%" *ngFor="let itemFiltered of imagesList">
      <div>
        <img class="img" [src]="itemFiltered" />
      </div>
    </div>
  </div>
</section>
