:host {
  height: 500px;
  display: inline;
}

.precon-search {
  text-align: center;
  padding-bottom: 50px;
  display: block;
}

.container-fluid {
  overflow: auto;
  height: inherit;
}

.empty-box {
  width: 150px;
  height: 150px;
  border: 1px solid;
  margin: 20px;
}

@import "~@angular/material/theming";

.img {
  width: 100%;
  margin-bottom: 10%;
}
.container {
  // min-height: 10%;
  // max-height: 20%;
  max-height: 250px;
  width: 100%;
  overflow-y: hidden;
}

.featured-max-height {
  max-height: 750px;
}

@media only screen and (max-width: 600px) {
  .featured-max-height {
    max-height: 100% ;
    height: auto;
  }
}
.chart-size {
  // float: left;
  margin:0 auto;
  // width: 50%;
  padding: 5px;
}

.clickable {
  cursor: pointer;
  &:hover {
    @include mat-elevation(8);
  }
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

//variables for text animation
$class-slug: animate;
$total-element: 6;

body {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  letter-spacing: 0.8px;
  min-width: 320px;
}

.post-list {
   animation: zoomInFade 15s linear 1s infinite forwards;

   &:hover {
    animation-play-state: paused;
    -webkit-animation-play-state: paused;
   }
}

@keyframes slide {
0% {
  margin-left: 0px;
}
50% {
  margin-left: -100px;
}
100% {
  margin-left: -200px;
}
}

// .animation-wrapper {
//   text-align: center;
//   height: 100vh;
//   overflow: hidden;
//   // background: #f55;
//   position: relative;
//   color: #212121;
//   box-sizing: border-box;
// }

// .#{$class-slug} {
//   display: inline-block;
//   vertical-align: top;
//   width: 100%;
//   margin-bottom: 16px;
//   position: absolute;
//   top: 100%;
//   left: 0;
//   right: 0;
//   animation: zoomInFade 3s linear 5s infinite forwards;
// }

// @for $i from 0 through $total-element {
//   .#{$class-slug}-#{$i} {
//     animation-delay: #{$i / 2 + 0.5}#{s};
//   }
// }

@keyframes zoomInFade {
  0% {
    transform:translateY(20%);
    opacity: 0.5;
    top: 100%;
    visibility: visible;
  }
  20% {
    transform:translateY(0);
    opacity: 1;
    top: 50%;
    visibility: visible;
  }
  40% {
    transform:translateY(-20%);
    opacity: 1;
    top: 50%;
    visibility: visible;
  }
  60% {
    transform:translateY(-40%);
    opacity: 1;
    top: 25%;
    visibility: visible;
  }
  80% {
    transform:translateY(-60%);
    opacity: 1;
    top: 25%;
    visibility: visible;
  }
  100% {
    transform:translateY(-80%);
    opacity: 0;
    top: 0;
    visibility: hidden;
  }
}
